<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="neudesic.elements.web">
      <sectionGroup name="security">
        <section name="oAuth" type="Neudesic.Elements.Web.Configuration.OAuthConfigurationSection, Neudesic.Elements.Web" />
      </sectionGroup>
      <section name="owin" type="Neudesic.Elements.Web.Owin.Configuration.OwinConfigurationSection, Neudesic.Elements.Web.Owin" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- COSMOSDB -->
    <sectionGroup name="neudesic.elements.data">
      <section name="cosmosDb" type="Neudesic.Elements.Data.Extensions.Azure.Cosmos.CosmosDbConfigurationSection, Neudesic.Elements.Data.Extensions.Azure" />
    </sectionGroup>
    <!-- ENDCOSMOSDB -->
  </configSections>  
  <appSettings>
    <add key="diagnostics.correlation.headerName" value="correlation-id" />
    <add key="oauth_client_id" value="" />
    <add key="oauth_client_scopes" value="" />
    <add key="oauth_key" value="" />
    <add key="oauth_token_endpoint" value="/core/connect/token" />    
    <add key="known_good_user_id" value="" />
    <add key="known_good_user_password" value="" />
    <add key="known_good_user_systemid" value="" />    
    <add key="service.events.publication.endpoint" value="" />
    <add key="service.events.publication.enabled" value="False" />
    <add key="service.events.publication.topic" value="smartoffice.roomservice" />
    <add key="service.events.publication.saskey" value="" />
    <!-- COSMOSDB -->
    <!-- Local Emulator -->
    <add key="platform.documentCollection.accessKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <!-- Azure DEV -->
    <!-- <add key="platform.documentCollection.accessKey" value="rKxrNmwZAA4yJvsoEObjdPlsOUmroLt7hsB1VWrLWajmDYrZO6s7wRfziHT7yfNSRKCSLks57o31RmWkjo3UEQ==" /> -->
    <!-- ENDCOSMOSDB -->
  </appSettings>
  <!-- COSMOSDB -->
  <neudesic.elements.data>
    <cosmosDb>
      <connections>
        <!-- Local Emulator -->
        <add name="qualia-platform" serviceUri="https://localhost:8081" accessKey="platform.documentCollection.accessKey" keyStorageType="AppSettings" databaseName="platform" collectionName="rooms" consistencyLevel="Eventual">
        <!-- Azure DEV -->
        <!-- <add name="qualia-platform" serviceUri="https://quaplatformcdbd18.documents.azure.com:443" accessKey="platform.documentCollection.accessKey" keyStorageType="AppSettings" databaseName="platform" collectionName="rooms" consistencyLevel="Eventual"> -->
          <connectionPolicy connectionMode="Direct" protocol="Tcp" enableEndpointDiscovery="true" />
        </add>
      </connections>
    </cosmosDb>
  </neudesic.elements.data>
  <!-- ENDCOSMOSDB -->
  <neudesic.elements.web>
    <security>
      <oAuth authority="/core" requiredScopes="" />
    </security>
    <owin>
      <diagnostics appVersionHeaderName="app-version" />
    </owin>
  </neudesic.elements.web>
  <nlog>
    <targets>
      <target name="asyncTraceWrapper" type="AsyncWrapper">
        <target name="f" type="File" fileName="${basedir}/error.json">
          <layout type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level:upperCase=true}" />
            <attribute name="message" layout="${message}" />
            <attribute name="user" layout="&quot;$${event-properties:item=user}&quot;$" />
            <attribute name="uri" layout="&quot;${event-properties:item=uri}&quot;" encode="false" />
            <attribute name="ipAddress" layout="&quot;$${event-properties:item=ipAddress}&quot;$" encode="false" />
            <attribute name="correlationId" layout="&quot;$${event-properties:item=correlationId}&quot;$" encode="false" />
            <attribute name="nested" encode="false">
              <layout type="JsonLayout">
                <attribute name="fullException" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
              </layout>
            </attribute>
          </layout>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="asyncTraceWrapper" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Neudesic.Elements.Core" publicKeyToken="3e5dc2a36cca98e3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Neudesic.Elements.Web" publicKeyToken="3e5dc2a36cca98e3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3003.0" newVersion="1.0.3003.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.18.0.0" newVersion="1.18.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>