<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />    
  </system.web>
  <appSettings>
    <add key="platform.documentCollection.accessKey" value="DO_NOT_CHANGE" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
  <nlog xdt:Transform="Replace">
    <targets>
      <target name="asyncTraceWrapper" type="AsyncWrapper">
        <target type="Trace" name="trace"/>
        <layout type="JsonLayout">
          <attribute name="time" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="message" layout="${message}" />
          <attribute name="user" layout="&quot;$${event-properties:item=user}&quot;$" />
          <attribute name="uri" layout="&quot;${event-properties:item=uri}&quot;" encode="false" />
          <attribute name="ipAddress" layout="&quot;$${event-properties:item=ipAddress}&quot;$" encode="false"/>
          <attribute name="correlationId" layout="&quot;$${event-properties:item=correlationId}&quot;$" encode="false"/>
          <attribute name="nested" encode="false">
            <layout type="JsonLayout">
              <attribute name="fullException" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
            </layout>
          </attribute>
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="asyncTraceWrapper" />
    </rules>
  </nlog>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="app-environment" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
        <add name="app-environment" value="QA" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="app-location" value="DO_NOT_CHANGE"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- COSMOSDB -->
  <neudesic.elements.data xdt:Transform="Replace">
    <cosmosDb>
      <connections>
        <add name="qualia-platform" serviceUri="https://quaplatformcdbq18.documents.azure.com:443" accessKey="platform.documentCollection.accessKey" keyStorageType="AppSettings" databaseName="platform" collectionName="rooms" consistencyLevel="Eventual">
          <connectionPolicy connectionMode="Direct" protocol="Tcp" enableEndpointDiscovery="true" />
        </add>
      </connections>
    </cosmosDb>
  </neudesic.elements.data>
  <!-- ENDCOSMOSDB -->
</configuration>