@import '../room';

mat-card {
    margin-top: 13px;
    margin-right: 13px;
}

mat-card-title {
    div {
        display: inline-flex;
        vertical-align: middle;

        span {
            &.room-name {
                padding-top: 4px;
                padding-left: 10px;
            }
        }
    }
}